.quicksand-font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
/* common styles */
.d-flex{
    display: flex;
}
.orange{
    color: #FEA301;
}
.sky{
    color: #01ACFD;
}
.water{
    color: #05D4DF;
}
.vio{
    color: #5D58EF;
}
/* nav style start */
.navbar{
    max-width: 1160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 0;
}
.logo-section{
    align-items: center;
}
.logo-section>h4{
    font-size: 2rem;
    font-weight: bold;
}
.nav-item{
    font-size: 1.20rem;
    font-weight: 500;
    list-style: none;
    margin-right: 32px;
}
.nav-links{
    text-decoration: none;
}
.nav-btn{
    padding: 10px 60px;
    background-color: #FEA301;
    color: #ffffff;
    font-size: 1.20rem;
    font-weight: 600;
    border-radius: 12px;
    border: none;
}
.nav-slide{
    display: none;
}
/* nav style end */
/* banner style start */

.banner{
    /* background-color: #5D58EF;
    width: 100%;
    height: 100vh; */
    max-width: 1160px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.banner-title{
    font-size: 3.5rem;
    font-weight: bold;
    color: #111111;
    margin-bottom: 20px;
}
.banner-dis{
    font-size: 1.20rem;
    color: #111111;
    font-weight: 500;
    margin-bottom: 20px;
}
.banner-btn{
    padding: 10px 60px;
    border-radius: 12px;
    background-color: #111111;
    color: #ffffff;
}
/* .banner-img{
    width: 460px;
} */

/* banner style end */
@media screen and (max-width : 572px) {

    /* nav responsive style */
    .nav-item,
    .nav-btn,
    .logo-name{
        display: none;
    }
    .navbar{
        border-bottom: 1px solid #FEA301;
        padding: 20px 16px;
    }
    .nav-slide{
        display: block;
        font-size: 2rem;
    }
    .banner{
        flex-direction: column-reverse;
        padding: 20px 16px;
    }
    .banner-img img{
        width: 100%;
    }
    .banner-text-section{
        text-align: center;
    }
    .banner-title{
        font-size: 32px;
    }
    .banner-dis{
        font-size: 18px;
    }
}